@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

* {
 box-sizing: border-box;
 padding: 0;
 margin: 0;
}

body {
 background-image: url(./images/background.jpg);
 background-size:cover;
 background-position: center center;
 font-family: 'Montserrat',
 sans-serif;
 height: 100vh;
}



h1 {
 font-size:2.25rem;
 font-weight:900;
 text-transform: uppercase;
}

h2 {
  font-size:1.75rem;
  font-weight:900;
  text-transform: uppercase;
}

p {
 font-size:1.25rem;
 font-weight: 500;
 padding-top: 10px;
}

.wrapper {
 width: 60%;
 margin: 0 auto;
 color: #fff;
}

header{
 width: 100%;
 margin: 5rem auto;
 text-align: center;
}

.form-wrapper {
 width: 50%;
 margin: 5rem auto;
 text-align: center;
}

.section-header{
 width: 100%;
 margin: 0 auto;
 padding: 40px 20px;
 backdrop-filter:blur(10px);
 border: 5px solid #fff;
 border-top-left-radius:10px;
 border-top-right-radius:10px;
 border-bottom: 10px solid #fff;
 text-align: center;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
}

.form::after {
 content: "";
 position: absolute;
 top: -20px;
 left: -5px;
 height: 1px;
 width: 101.6%;
 border-bottom: 20px solid #fff;
 z-index: 10;
}

.form{
  width: 100%;
  margin: 0 auto;
  padding: 40px 20px;
  backdrop-filter:blur(10px);
  border: 5px solid #fff;
  border-bottom-left-radius:20px;
  border-bottom-right-radius:10px;
  border-top: 10px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
  z-index: 2;
}

.form p {
 padding: 1rem 0 2rem;
}

label {
 width: 235px;
 font-size:1.125rem;
 font-weight: 700;
 text-transform:uppercase;
}

input {
 margin-bottom: 2rem;
}

input[type="text"],
input[type="email"],
input[type="date"] {
 border:none;
 border-bottom: 1px solid #fff;
 width: 70%;
 height: 25px;
 font-size:1.25rem;
 padding: 5px;
 background-color: transparent;
 color: #fff;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(0.8);
}

input::placeholder {
 color: #fff;
}

#btn {
 margin-top: 1rem;
 width: 70%;
 height: 50px;
 font-size: 1.25rem;
 font-weight: 500;
 background-color: #fff;
 border-radius: 3px;
 border:none;
 cursor: pointer;
 -webkit-border-radius: 3;
 -moz-border-radius: 3;
 -ms-border-radius: 3;
 -o-border-radius: 3;
 text-transform: uppercase;
}


/* On screens that are 992px wide or less, go from four columns to two columns */
/* @media only screen and (max-width: 1024px) {


} */

/* MEDIA QUERY */
@media only screen and (max-width: 480px) {
  .wrapper {
    width: 90%;
    margin: none;
  }

  header {
    width: 100%;
    margin: 2rem auto;
    text-align: center;
  }

  .logo img {
    width: 70%;
  }

  h1{
    font-size:3vh;
    font-weight:800;
  }

  h2 {
    font-size: 2.5vh;
    font-weight: 900;
  }

  p {
    font-size: 2.125vh;
    font-weight: 500;
  }

  .form-wrapper {
    width: 100%;
    margin-block: 2rem;
  }

  .section-header {
    padding: 20px 15px;
  }

  .form::after {
    width: 102%;
  }

  .form {
    padding: 20px 15px;
  }

  .form p {
    padding: .25rem 0 1.5rem;
  }

  label {
    font-size: 2.125vh;
    font-weight: 900;
  }

  input {
    margin-bottom: 1rem;
  }

  input[type="text"],
  input[type="email"],
  input[type="date"] {
    border-bottom: 1px solid #fff;
    width: 80%;
    height: 20px;
    font-size: 2.125vh;
    padding: 3px;
  }

}

@media only screen and (min-width: 768px) {
  .logo img {
    width: 70%;
  }

  .wrapper {
    width: 80%;
  }

  header {
    width: 100%;
    margin: 3rem auto;
    text-align: center;
  }

h1 {
  font-size: 2.5vh;
  font-weight: 800;
}

  h2 {
    font-size: 2.5vh;
    font-weight: 900;
  }
  
  p {
    font-size: 1.75vh;
    font-weight: 500;
  }

  .form-wrapper {
    width: 60%;
    margin: 2rem auto 0 auto;
  }

  .section-header {
    padding: 20px 15px;
  }

  .form::after {
    width: 102%;
  }

  .form {
    padding: 20px 15px;
  }

  .form p {
    padding: .25rem 0 1.5rem;
  }

  label {
    font-size: 1.75vh;
    font-weight: 900;
  }

  input {
    margin-bottom: 1rem;
  }

  input[type="text"],
  input[type="email"],
  input[type="date"] {
    border-bottom: 1px solid #fff;
    width: 80%;
    height: 20px;
    font-size: 1.5vh;
    padding: 3px;
  }
}

@media only screen and (min-width: 992px) {
  .logo img {
    width: 30%;
  }

  .wrapper {
    width: 80%;
  }

  header {
    width: 100%;
    margin: 3rem auto;
    text-align: center;
  }

  h1 {
    font-size: 2rem;
    font-weight: 800;
  }

  h2 {
    font-size: 1.6rem;
    font-weight: 900;
  }

  p {
    font-size: 1.25rem;
    font-weight: 500;
  }

  .form-wrapper {
    width: 30%;
    margin: 10rem auto 0 auto;
  }

  .section-header {
    padding: 20px 15px;
  }

  .form::after {
    width: 102%;
  }

  .form {
    padding: 20px 15px;
  }

  .form p {
    padding: .25rem 0 1.5rem;
  }

  label {
    font-size: 1.1rem;
    font-weight: 700;
  }

  input[type="text"],
  input[type="email"],
  input[type="date"] {
    border-bottom: 1px solid #fff;
    width: 80%;
    height: 20px;
    font-size: 1.1rem;
    padding: 3px;
  }
}